<div class="styleguide-example">

{% if iframe %}

{% assign url = html | remove_first: "/src" %}
<iframe
	src="{{ url }}"
	class="styleguide-example__iframe js-resize-iframe"
  {% if fixedHeight %}height="{{fixedHeight}}"{% endif %}
	{% if fixedWidth %}style="width: {{fixedWidth}}px"{% endif %}></iframe>
<a href="{{ url }}" target="_blank">Open in new tab</a>

<div class="iframe-size-switcher js-iframe-size-switcher" hidden>
	<fieldset>
		<legend>Size</legend>
		<button aria-pressed="false" data-size="xs">XS</button>
		<button aria-pressed="false" data-size="sm">S</button>
		<button aria-pressed="false" data-size="md">M</button>
		<button aria-pressed="false" data-size="lg">L</button>
		<button aria-pressed="false" data-size="xl">XL</button>
		<button aria-pressed="false" data-size="xxl">XXL</button>
		<button aria-pressed="false" data-size="">Reset</button>
	</fieldset>
</div>

{% else %}

<div
	class="styleguide-example__preview"
	{% if fixedHeight %}style="height: {{fixedHeight}}px"{% endif %}
>

{{ html | getFileContents }}

</div>

{% endif %}

<details class="styleguide-example__code">
<summary class="btn btn-small btn-secondary">Show code</summary>

```html
{{ html | getFileContents }}
```

</details>
</div>
